# settings
.devcontainer/devcontainer.json
.vscode/settings.json

# txt & json
python-input_output/file/*.txt
python-input_output/*.json

# others files
.DS_Store
findIndex.py
testmd.md
python-almost_a_circle/*.json
python-almost_a_circle/draw_test.py

# pip file
python-import_modules/Pipfile
python-import_modules/Pipfile.lock

# pyc file
python-if_else_loops_functions/__pycache__/*.pyc
python-import_modules/__pycache__/*.pyc
python-data_structures/__pycache__/*.pyc
python-more_data_structures/__pycache__/*.pyc
python-exceptions/__pycache__/*.pyc
python-test_driven_development/__pycache__/*.pyc
python-test_driven_development/tests/__pycache__/*.pyc
python-inheritance/__pycache__/*.pyc
python-input_output/__pycache__/*.pyc
python-almost_a_circle/models/__pycache__/*.pyc
python-almost_a_circle/tests/__pycache__/*.pyc
python-almost_a_circle/tests/test_models/__pycache__/*.pyc


